header{
    position:relative;
    height:150px;
    width:70%;
    margin-left: auto;
    margin-right: auto;
    border-bottom:5px solid #A63C00;
    z-index:2;
}
header h1{
    font-family:americanCaptain;
    position:relative;
    left:0px;
    bottom:-35px;
    font-size:50pt;
    width:200px;
    margin:0;
    padding:0;
    color:#A63C00;
    margin-bottom:-30px;
    text-shadow: -2px -2px white;
}
header h1#top{
    z-index:1;
    bottom:-34px;
}
header img {
    position:absolute;
    height:90px;
    width:90px;
    bottom:0px;
    left:180px;
    border-radius:45px;
    border:5px dotted #A63C00;
}
header nav{
    height:30px;
    position:absolute;
    left:70%;
    bottom:0px;
    padding:0;
}
header nav a{
    position:relative;
    color:white;
    display:inline;
    font-family:americanCaptain;
    font-size:20pt;
    padding:10px;
    margin:0;
    background-color:#A63C00;
    left:0;
    right:0;
    padding-bottom:0;
    text-decoration:none;
}
header nav a#current{
    border-top:5px solid white;
    bottom:5px;
    padding-bottom:5px;
}
header nav a:hover{
    bottom:5px;
    cursor:pointer;
    padding-bottom:5px;
}
html {
    background-color:#00A480;
}
html,body{
    height:100%;
}
div#wrap {
    position:relative;
    height:auto;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-image:url('/images/greyzz.png');
    top:-25px;
    z-index:1;
}
div#background{
    position:relative;
    height:auto;
    width:100%;
    background-color:rgba(255,235,205,0.7);
    margin:0;
}
div#wrap:after{
    content: "";
    display: block;
}
