            html {
                background-color:#C8C8C8;
            }
            @font-face {
                font-family:harabara;
                src: url('fonts/Harabara.ttf');
            }
            @font-face {
                font-family:gravity;
                src: url('../../fonts/Gravity.ttf');
            }
            @font-face {
                font-family:gravity-bold;
                src: url('../../fonts/Gravity-Bold.ttf');   
            }
            @font-face {
                font-family:nilland;
                src:url('../../fonts/Nilland.ttf');
            }
            @font-face{
                font-family:nilland-black;
                src:url('../../fonts/Nilland-Black.ttf');
            }
            @font-face{
                font-family:geosans;
                src:url('../../fonts/GeosansLight.ttf');
            }
            @font-face{
                font-family:geosansOblique;
                src:url('../../fonts/GeosansLight-Oblique.ttf');
            }
            div.container{
                position:absolute;
                top:50%;
                margin-top:-85px;
                background-color:white;
                height:130px;
                width:600px;
                left:50%;
                margin-left:-315px;
                padding:15px;
            }
            form.login{
                position:relative;
                width:300px;
                height:auto;
                margin-left:auto;
                margin-right:auto;
                text-align:center;
                float:left;
                border-right:1px solid #BF8530;
                padding-top:10px;
            }
            form.login input {
                position:relative;
                width:200px;
                height:25px;
                text-align:center;
                font-size:14pt;
                font-family:geosans;
                margin-bottom:10px;
                outline-color:#26527C;
                color:#26527C;
            }
            form.login input.submit {
                position:relative;
                width:100px;
                font-family:geosans;
                color:gray;
                font-size:12pt;
                padding-top:2px;
            }
            form.login input.submit:hover{
                border:1px solid #BF8530;
                color:#BF8530;
                background-color:white;
            }
            div.container p {
                margin:0;
                position:absolute;
                font-family:geosans;
                font-size:14pt;
                left:325px;
                width:300px;
                margin-left:5px;
                margin-top:20px;
                max-width:300px;
                display:block;
            }
            p.error{
                position:absolute;
                font-family:gravity;
                width:610px;
                text-align:center;
                left:50%;
                padding:10px;
                background-color:#BF4030;
                color:white;
                font-weight:bold;
                top:50%;
                margin-top:-150px;
                margin-left:-315px;
            }
